.contact-input-box {
    overflow: scroll !important;
}

@media screen and (max-width: 1080px) {
    .contact-input-box {
        position: initial !important;
        margin-top: 4rem;
    }
    .contact-text{
        width: initial !important;
    }
    .contact-box{
        padding: 3rem 2rem !important;
    }
}